ipykernel
python-dotenv
langchain
langchain_community
langchain-core
langchain_classic
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-google-genai
google-generativeai
chromadb
sentence-transformers
transformers
langchain-huggingface
huggingface-hub
faiss-cpu
langchain-chroma
beautifulsoup4
streamlit
langchain-groq
langsmith
fastapi
uvicorn
langserve
sse_starlette
scikit-learn